.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.ts
.venv/**
.nox/**
.github/
**/__pycache__/**
**/.pyc
bundled/libs/bin/**
!bundled/libs/bin/darwin-arm64/
!bundled/libs/bin/darwin-arm64/shfmt
!bundled/libs/bin/darwin-x64/
!bundled/libs/bin/darwin-x64/shfmt
!bundled/libs/bin/linux-arm64/
!bundled/libs/bin/linux-arm64/shfmt
!bundled/libs/bin/linux-x64/
!bundled/libs/bin/linux-x64/shfmt
!bundled/libs/bin/win32-x64/
!bundled/libs/bin/win32-x64/shfmt.exe
noxfile.py
pnpm-lock.yaml
pnpm-workspace.yaml
pyproject.toml
renovate.json
uv.lock
.pytest_cache/**
.pylintrc
**/requirements.txt
**/requirements.in
